<section class="login__background">
    <form [formGroup]="loginForm" class="login" (ngSubmit)="submit()">
        <h3 class="login__title">Log In</h3>
        <label class="login__label">
          <span class="login__text">Username</span>
          <input class="login__input" type="username" formControlName="username">
    
          @if(loginForm.get('username')?.invalid && loginForm.get('username')?.touched){
          <div class="login__error">
            Username is required.
          </div>  
        }
    
        </label>
        <label class="login__label">
          <span class="login__text">Password</span>
          <input class="login__input" type="password" name="password" formControlName="password">
    
          @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
            <div class="login__error">
              Password is required.
            </div>  
        }
        </label>
        <button class="login__button">Login</button>
      </form>
    </section>
