<main class="auth-container">
    <div class="auth-form">
        <h2 class="auth-form__title">Register</h2>
        <form [formGroup]="registerForm" (ngSubmit)="submit()" class="auth-form__form">
            <div class="auth-form__group">
                <label for="username" class="auth-form__label">Username</label>
                <input type="text" id="username" formControlName="username" class="auth-form__input">
                @if(nameControl?.invalid && (nameControl?.dirty || nameControl?.touched)) {
                <div class="auth-form__error">
                    @if (nameControl?.errors?.['required']) {
                    <div>Username is required.</div>
                    }
                </div>
                }
            </div>
            <div class="auth-form__group">
                <label for="password" class="auth-form__label">Password</label>
                <input type="password" id="password" formControlName="password" class="auth-form__input">
                @if(passwordControl?.invalid && (passwordControl?.dirty || passwordControl?.touched)) {
                <div class="auth-form__error">
                    @if (passwordControl?.errors?.['required']) {
                    <div>Password is required.</div>
                    }
                </div>
                }
            </div>
            <div class="auth-form__group">
                <label for="roles" class="auth-form__label">Role</label>
                <select id="roles" formControlName="roles" class="auth-form__input" aria-describedby="role-error">
                    <option value="" disabled selected>Select role</option>
                    <option value="USER">User</option>
                    <option value="ADMIN">Admin</option>
                </select>
                  @if (roleControl?.invalid && (roleControl?.dirty || roleControl?.touched)) {
                    <div class="auth-form__error" id="role-error">
                        @if (roleControl?.errors?.['required']) {
                            <div>Role is required.</div>
                        }
                    </div>
                }
            </div>
            <!-- <fieldset class="auth__section" formGroupName="address">
                Address
                <label class="auth__section__label">
                  <span class="auth__text">Street</span>
                  <input class="auth__section__input" type="text" formControlName="street">
                </label>
                <label class="auth__section__label">
                  <span class="auth__text">Number</span>
                  <input class="auth__section__input" type="number" name="number" formControlName="number">
                </label>
                <label class="auth__section__label">
                  <span class="auth__text">Zip Code</span>
                  <input class="auth__section__input" type="number" name="zipCode" formControlName="zipCode">
                </label>
              </fieldset> -->
            <button type="submit" class="auth-form__button" [disabled]="registerForm.invalid" >Register</button>
        </form>
       <!--  @if (errorMessage) {
            <div class="auth-form__message auth-form__message--error" aria-live="polite">
             {{ errorMessage }}
          </div>
        } -->
    </div>
</main>

